@model TatBlog.WebApp.Areas.Admin.Models.TagFilterModel
@{
    ViewData["PageTitle"] = "Danh sách thẻ";
    var tagsList = ViewBag.TagsList as IPagedList<Tag>;
}

<h1>
    Danh sách thẻ
</h1>
<partial name="_TagFilterPane" model="Model" />
@if (tagsList != null && tagsList.Count > 0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Tên thẻ</th>
                <th>Mô tả</th>
                <th>Số bài viết</th>
                <th>Xóa bài viết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tag in tagsList)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Tags"
                           asp-action="Edit"
                           asp-route-id="@tag.Id"
                           class="text-bold">
                            @tag.Name
                        </a>
                    </td>
                    <td>
                        @tag.Description
                    </td>
                    <td>
                        @tag.Posts.Count
                    </td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Tags"
                           asp-action="Delete"
                           asp-route-id="@tag.Id"
                           asp-route-p="@tagsList.PageNumber"
                           asp-route-ps="@tagsList.PageSize"
                           class="btn"
                           onclick="return confirm('Bạn có thực sự muốn xóa thẻ này không?')">
                            <i class="fa fa-trash" style="color:red"></i>
                            <span style="color:red">Xóa</span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_Pager" model="tagsList"></partial>
}
else
{
    <h1 class="text-danger">
        Không tìm thấy thẻ nào
    </h1>
}